<!DOCTYPE HTML>


<html>
	<head>
		<title>JuminnoApps</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<noscript>
		<link rel="stylesheet" href="css/5grid/core.css" />
		<link rel="stylesheet" href="css/5grid/core-desktop.css" />
		<link rel="stylesheet" href="css/5grid/core-1200px.css" />
		<link rel="stylesheet" href="css/5grid/core-noscript.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/style-desktop.css" />
		</noscript>
		<script src="css/5grid/jquery.js"></script>
		<script src="css/5grid/init.js?use=mobile,desktop,1000px&amp;mobileUI=1&amp;mobileUI.theme=none"></script>
		<!--[if IE 9]><link rel="stylesheet" href="css/style-ie9.css" /><![endif]-->
        <!--[if IE 10]><link rel="stylesheet" href="css/style-ie9.css" /><![endif]-->
        <!--[if IE 11]><link rel="stylesheet" href="css/style-ie9.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
		<div id="header-wrapper">
		
			<header id="header">
				<div class="5grid-layout">
					<div class="row">
						<div class="4u" id="logo"><!--class="4u"-->
							<!--<h1><a href="#" class="mobileUI-site-name">JuminnoApps</a></h1>-->
                            <br />
                            <a href="index.html"><img src="images/LogoHorizontal.png" style="height: 83px; width: initial;" /></a>
						</div>
						<div class="8u" id="menu">
							<nav class="mobileUI-site-nav">
								<ul>
									<li class="current_page_item"><a href="index.html">Home</a></li>
									<li><a href="1.html">#1</a></li>
									<li><a href="2.html">#2</a></li>
									<li><a href="3.html">#3</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			
			<div id="banner" class="5grid-layout">
				<div class="row">
					<div class="12u" >
                        <div id="x">
							<h2>¿Ya tienes tu <br />propia tienda móvil?</h2>
							<p> En JuminnoApps podemos hacer esto y más.</p>
							<!--<a href="#" class="button button-style1">Read More</a>-->
						</div>
					</div>
				</div>
			</div>			

		</div>
		<!-- Header Ends Here -->

		<!-- Featured Area -->
			<div id="featured-wrapper">
			
				<div id="featured-content" class="5grid-layout">
					<div class="row">
					
						<div class="4u">
							<section>
								<h2>Servicio Personalizado</h2>
								<img src="css/images/featured-icon01.png" height="68" alt="" style="width: 75px">
								<p>Aqui va mucho rollo de la ventaja 1, ventaja 1, ventaja 1, ventaja 1, ventaja 1, ventaja 1, ventaja 1, ventaja 1, ventaja 1, ventaja 1.</p>
								<a href="1.html" class="button button-style1">Conocer más</a>
							</section>
						</div>

						<div class="4u">
							<section>
								<h2>Diseño amigable</h2>
								<img src="css/images/featured-icon02.png" width="91" height="68" alt="">
                                <p>Aqui va mucho rollo de la ventaja 2, ventaja 2, ventaja 2, ventaja 2, ventaja 2, ventaja 2, ventaja 2, ventaja 2, ventaja 2, ventaja 2.</p>
                                <a href="2.html" class="button button-style1">Conocer más</a>
							</section>
						</div>

						<div class="4u">
							<section>
								<h2>Alto desempeño</h2>
								<img src="css/images/featured-icon03.png" width="91" height="68" alt="">
								<p>Aqui va mucho rollo de la ventaja 3, ventaja 3, ventaja 3, ventaja 3, ventaja 3, ventaja 3, ventaja 3, ventaja 3, ventaja 3, ventaja 3.</p>
                                <a href="3.html" class="button button-style1">Conocer más</a>
							</section>
						</div>
					
					</div>
				</div>
				
			</div>
		
		
		<!-- Featured Ends Here -->

		<!-- Copyright -->
		<div class="5grid-layout" id="copyright">
			<div class="row">

				<div class="12u">
					<section>
                        <section id="sociales"> 
                            <a href="https://www.facebook.com/JuminnoApps"><img src="css/images/fb.png" title="Facebook" style="height: 37px; width: 37px; " /></a>
                            
                            <a href="https://plus.google.com/+JuminnoappsMobile/"><img src="css/images/g+.png" title="Google+" style="height:37px; width: 37px;"  /></a>
                        </section>
						<p>&copy; JuminnoApps.com | Images: <a href="https://www.google.com.mx/imghp?hl=es-419">Google images</a> + <a href="http://iconify.it/">Iconify.it</a> | Design: <a href="http://juminnoapps.com/">Diana Enriquez</a></p>
					</section>
				</div>
			</div>
		</div>

	</body>
</html>